@import url('https://fonts.googleapis.com/css?family=Orbitron:900');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

#viewdate {
	display: inline;
	position: relative;
    font-family: 'Orbitron', sans-serif;
	font-size: 70px ;
	color: #0099ff ; 
}
#meridian {
    display: inline;
	position: relative;
    font-family: 'Concert One', cursive;
	font-size: 70px ;
	color:  #ff00ff ; 
}
